
<h1 class= "title">Stupid Coaching</h1>

<div>
<p><%= params[:question] %></p>
<p class="sign">-You</p>
</div>

<div class= "coach">
  <p><strong><%= @answer %></strong></p>
  <p class="sign">-Your coach</p>
</div>

